{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if user.is_authenticated %}
        <p>You are already logged in !</p>
    {% else %}
        <form method="post" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <p><a href="{% url 'register' %}">Don't have an account yet ? Sign Up</a></p>
            <button type="submit" class="btn btn-success">Login</button>
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        {#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
    {% endif %}
{% endblock %}