{% extends "base.html" %}
{% block content %}
    <h1 class="welcome-mess">Welcome to MTG Tracker !</h1>
    <p class="p-center">Here you can import your draft results manually or from an Excel file. You can also modify, delete your data if you want. Finally this tool provides you with a deep analysis of your results and you can compare your results with other users !</p>
    <img src="../../static/MTG_Tracker/MTG_SebMcKinnon.jpg" class="rounded mx-auto d-block" alt="No Image Available">
{% endblock %}